<footer>

<nav class=" navbar-nav mr-auto navbar fixed-bottom navbar-dark bg-dark">
       <h3 class="display-21 navbar-text">&copy; Copyright Amritpal Singh - 301236031 - All rights reserved</h3>
</nav>

</footer>
