<nav class="navbar navbar-expand navbar-dark -lg bg-dark" style="color:darkblue ; border:black"> <!--<nav class="navbar navbar-expand navbar-dark -lg bg-dark">-->
  
            

    <a class="navbar-brand" href="/"> <img src="Assets\images\logo.jpeg" width="130" height="80"></a>
        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> <!-- me-auto mb-2 mb-lg-0-->


               <li class="nav-item">
             <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home </a>
            

             </li>
        

        
            <li class="nav-item">
          <a class="nav-link" href="/project"><i class="fa-solid fa-briefcase"></i> Project </a>
        </li>



       
            <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-solid fa-screwdriver-wrench"></i> Services </a>
        </li>



       
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa-solid fa-address-card"></i> About</a>
        </li>



        
        <li class="nav-item">
          <a class="nav-link" href="/Contact"><i class="fa-sharp fa-solid fa-paper-plane"></i> Contact </a>
        </li>
  </div>

</nav>